body,html{
	margin: 0;
	padding: 0;
	height: 95%;
	width: 100%;
}
.navbar-nav>li{
	float: left;
}
.nav1{
	display: block;
	width: 100%;
	background-color: #101010;
	position: absolute;
	top: 0;
	z-index: 99999;
}
.nav2{
	display: block;
	width: 100%;
	background-color: #5c5c5c;
    position: relative;
    z-index: 100;
}

.nav2 li a{
    color: #333;
}
.nav2 li a:hover{
    color:#4b80cc;
}
.nav1 li a,.nav1 span{
	color: #999;
}
.nav2 li a{
	color: #ddd;
}
.nav-tabs a:hover{
	background-color: #eee !important;
	color: #555 !important;
}
body .nav>li>a:hover{
	color: #fff;
	background: transparent;
}
.nav span{
	float: right;
	display: block;
	padding: 15px;
}
iframe{
	margin: 0;
	border: none;
	padding: 0;
}
#container{
	width: 100%;
	height: 100%;	
	position: absolute;
	background-color: #fff;
}

#left{
	left: 0;
	width: 280px;
	border-right: 1px solid #ccc;
}
#right1{
	width: 400px;
	border-right: 1px solid #ccc;
	overflow: auto;
	left: 0;
}
#right2{
	left: 400px;
	right: 0;
	width: 60%;
}

.formitm button{
	margin-top:20px; 
}
#form-new-proj{
	width: 400px;
	margin: 20px auto 0;
}
#board{
	position: absolute;
	padding-top: 50px;
	top: 0;
	width: 100%;
	height: 100%;
	bottom: 0;
    overflow: auto;
}
.list-group .progress{
	height: 10px;
}
.phaseItem div{
	font-size: 14px;
	width: 110px;
	min-height: 60px;
	white-space: normal;
	margin: 5px;
	padding: 6px;
}
#phaseInfoPanel{
	font-size: 16px;
	padding: 20px;
	border-radius: 3px;
	border: 1px solid #efefef;
	box-shadow: 0 0 3px #efefef;
	margin-top: 50px;
}
.pull-right a:hover,.pull-left a:hover{
	background-color: #d7d7d7 !important;
	color: #fff;
}
#phase #submit{
    float: right;
}
#right2mng{
	width: 100%;
	position: absolute;
	top: 70px;
}
frameset,frame{padding:0;margin:0;border:none}

#dd label{
	display: block;
	margin-left: 15px;
}
#right2mng{
	width: 100%;
	height: 100%;
	position: absolute;
<<<<<<< HEAD
	top: 75px;
}
.inf{
	float: right;
	padding: 10px;
	border: 1px dashed #ccc;
	border-right: none;
	border-radius: 3px 0 0 3px;
	z-index: 99999;
}
.inf li{
	list-style-image: none;
	float: left;
	clear: left;
	display: block;
}
#finish{
	padding: 10px;
	border-radius: 0 3px 3px 0;
	float: right;
	margin-right: 10px;
	z-index: 999999;
	background-color: #3276b1;
	border: 1px solid #285e8e;
	border-left: none;
	color: #fff;
	cursor: pointer;
	z-index: 9999999;
}
#finish:hover{
	background-color: #3276b1;
    border-color: #285e8e;
}

.form-group .col-sm-4{
	width: 100%;
}
.item_pre {
    display: none;
}

.item_edi {
    display:block;
    float: right;
}
#popupmenu{display:none;position:absolute;z-index:900;width:500px;height:auto;top:50px;}

.lll {
    width: 500px
}

.item_dig {
    height: 500px;
}

.item_open {
    text-decoration: none!important;
      font-size: 14px;
}

.item_del {
     text-decoration: none!important;
    margin-left: 15px;
    font-size: 14px;
}

.listh4 {
    width: 150px;
    float: left;
}

.progress_t {
    width: 230px;
}
