.navbar-nav>li{
	float: left;
}
.nav1{
	display: block;
	width: 100%;
	background-color: #101010;
	position: absolute;
	top: 0;
	z-index: 99999;
}
.nav2{
	display: block;
	width: 100%;
	background-color: #5c5c5c;
    position: relative;
    z-index: 100;
}

.nav2 li a{
    color: #333;
}
.nav2 li a:hover{
    color:#4b80cc;
}
.nav1 li a,.nav1 span{
	color: #999;
}
.nav2 li a{
	color: #ddd;
}
.nav-tabs a:hover{
	background-color: #eee !important;
	color: #555 !important;
}
body .nav>li>a:hover{
	color: #fff;
	background: transparent;
}
.nav span{
	float: right;
	display: block;
	padding: 15px;
}
.tbd {
    padding: 0 10px;
    padding-bottom: 20px;
    top:10px;
    position: relative;
    float: left;
    width: 100%;
    height: auto;
}
.m-tab {
    height: 35px;
    padding: 1px 0 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.m-tab h5{
    color: #666;
    font-weight: 700;
}
.u-t {
    float: left;
}

.userl {
    margin-left: 15px;
    font-size: 12px;
    float: left;

}



.adduser {
    margin-top: 10px;
}

.fitler {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
    line-height: 30px;
    color: #666;
}

.u-in {
    width: 100px;
    height: 25px;
    display: inline;
    float: left;
    margin-left: 10px;
}

.m-thead {
    background: #f5f5f5;
}

.m-table {
    box-shadow: 0px 3px 0px #dbdfe0;
    background: #fff;
    border: 1px solid #dddddd;
    padding-top: 10px;
}
.m-table {
    font-size: 14px;
}
tbody tr:hover{
    background:#f0f0f0;
}

.uSelect {
    margin-left: 10px;
    float: left;
}

.Usp {
    float: left;
    margin-left: 10px;
    margin-top: -3px;
}

.addform {
    width: 100%;
    height: auto;
    float: left;
    background: #fff;
    margin-bottom: 30px;
}

.addForm {
    padding: 20px;
    padding-top: 5px;
}

.addForm1 {
    padding: 20px;
}

.edith {
    
    margin-left: 80px;
    font-weight: bold;
}

.flo {
    float: left;
}

.password_info {
    width: 260px;
    margin-left: 148px;
}

.user_msg {
    line-height: 35px;
}

.btn-m {
    border: 3px dashed #b8b8b8;
    height: 45px;
  /*  background: url('../images/1.png') 260px 8px no-repeat;*/
}



.mmm {
    width: 24px;
    height: 24px;
    background: url('../images/1.png') no-repeat;
    display:block;
    margin: 0 auto;
}

.tda {
    text-decoration: none!important;
    color: #333;
}
.tda:hover{
    color: #4b80cc;
}

.f-tab {
    margin-top: 15px;
}

#fbody {
    background: #fff!important;
}

.nav2 li {
    float: left;
}

.result {
    width: 100%;
    height: auto;
    background: #f4f8fa;
    border-color: #bce8f1;
    border-left: 3px solid #bce8f1;
    margin-left: 10px;
    margin-top: 10px;
}

.Ptitle3 {
    margin-left: 12px;
}

.nav2{
	display: block;
	width: 100%;
	background-color: #5c5c5c;
    position: relative;
    z-index: 100;
}
