<load href="__PUBLIC__/css/bootstrap.min.css"/>
<load href="__PUBLIC__/css/main.css"/>
<load href="__PUBLIC__/js/jquery-1.7.2.min.js"/>
<load href="__PUBLIC__/js/jquery.contextMenu.js"/>
<load href="__PUBLIC__/js/bootstrap.min.js"/>


<?php
	$projid = $_GET['project_id'];
	$phaseid = $_GET['phase_id'];
	$category_id =  $_GET['category_id'];
	$defaultSrc = "";
	if(empty($_GET['topNav']))
		$defaultSrc = U("PhaseItem/index",array("project_id"=>$projid,"phase_id"=>$phaseid));
	else
		$defaultSrc = U("FileManage/file",array("project_id"=>$projid,"phase_id"=>$phaseid,"category_id"=>$category_id));
?>
<if condition="empty($_GET['category_id']) && !empty($_GET['phase_id'])">
		<if condition="$_GET['refresh'] eq 1">
			<script type="text/javascript">
				window.open("{:U('Phase/index',array('type'=>'update','projid'=>$projid,'editable'=>false))}","middle");
			</script>
		</if>
		<if condition="$finished==0">
			<div id="finish" onclick="location.href='{:U("Phase/toggleFinished",array("phase_id"=>$_GET["phase_id"],"project_id"=>$_GET["project_id"]))}'">
				完成<br/>此阶段
			</div>
		<else/>
			<div id="finish" style="background-color:gray;" onclick="location.href='{:U("Phase/toggleFinished",array("phase_id"=>$_GET["phase_id"],"project_id"=>$_GET["project_id"]))}'">
				已完成<br/>  
			</div>
		</if>
	<ul class="inf">
		<li>{$project_name}</li>
		<li><b>{$phase_name}</b></li>
	</ul>
</if>
<ul class="nav nav-tabs" style="margin-bottom:10px;z-index:9999;position:absolute;width:100%;top:30px;">
	<if condition="empty($_GET['topNav'])">
		<li id="mainUnitTab0"><a onclick="mainUnit(0);" href='{:U("PhaseItem/index",array("project_id"=>$projid,"phase_id"=>$phaseid,"category_id"=>$category_id))}' target="right2mng">基本信息</a></li>
	</if>
	<li id="mainUnitTab1"><a onclick="mainUnit(1);" href='{:U("FileManage/file",array("project_id"=>$projid,"phase_id"=>$phaseid,"category_id"=>$category_id))}' target="right2mng">文件管理</a></li>
	<li id="mainUnitTab2"><a onclick="mainUnit(2);" href='{:U("Table/tableList",array("project_id"=>$projid,"phase_id"=>$phaseid,"category_id"=>$category_id))}' target="right2mng">报表管理</a></li>
</ul>
<iframe id="right2mng" name="right2mng" src='{$defaultSrc}'  frameborder="0" framespacing="0"  scrolling="no" noresize="noresize" marginheight="0"></iframe>
<script type="text/javascript">
	function mainUnit(n)
	{
		
		if(n==0){
			$('#mainUnitTab0').addClass('active');
			if($('#mainUnitTab1').hasClass('active'))
				$('#mainUnitTab1').removeClass('active');
			if($('#mainUnitTab2').hasClass('active'))
				$('#mainUnitTab2').removeClass('active');
		}
		else if(n==1){
			$('#mainUnitTab1').addClass('active');
			if($('#mainUnitTab0').hasClass('active'))
				$('#mainUnitTab0').removeClass('active');
			if($('#mainUnitTab2').hasClass('active'))
				$('#mainUnitTab2').removeClass('active');
		}
		else if(n==2){
			$('#mainUnitTab2').addClass('active');
			if($('#mainUnitTab0').hasClass('active'))
				$('#mainUnitTab0').removeClass('active');
			if($('#mainUnitTab1').hasClass('active'))
				$('#mainUnitTab1').removeClass('active');
		}
	}
	<if condition="empty($_GET['topNav'])">
		mainUnit(0);
	<else/>
		mainUnit(1);
	</if>
</script>