body{width:600px;}
#submitform{margin-top:30px;}
#submitform>.form-group{width:300px;}

.test1 .menu{ margin:15px 0;}
.test1 .menu-2{margin-left:10%;margin-right:40px;}
.test1 .menu-2-box{margin-left:5%;border-left:1px dashed #aaa;}

