body{width:600px;}
#submitform{margin-top:30px;}
#submitform>.form-group{width:300px;}

#EditTable>thead>tr>th{text-align:center;border-bottom:0}
#EditTable>tbody>tr:first-child>td{border-top:2px solid #ddd;}

