body{width:600px;}
#submitform{margin-top:30px;}
#submitform>.form-group{width:300px;}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active{border:1px solid #ddd}

.tableselect{border:0;}
.tableselect>.panel-heading{border:1px solid #ccc;}
.tableselect>.list-group .list-group-item{border-width:1px;}
.tableselect>.list-group .list-group-item.menu-2{margin-left:20%;}
.tableselect>.list-group .list-group-item:last-child{border:1px solid #ddd;}

.tableselect li>span{color:#ccc;float:right;}
.tableselect li>input:checked + span{color:#CC0033;}